<section>
  <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Investigador eliminado</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div> -->

    <div class="d-flex justify-content-between">
      <h4>Listado</h4>
      <a routerLink="/researchers/create" class="btn btn-success">Crear Investigador</a>
    </div>

    <br>
    
    <table class="table ">
      <tr>
        <th>Orcid</th>
        <th>Nombre</th>
        <th>Email</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let res of researcherss">
        <td>{{ res.orcid }}</td>
        <td>{{ res.givenNames }} {{ res.familyNames }}</td>
        <td>{{ res.email }}</td>
        
        <td>
          <a style="margin: 1%" href="#" [routerLink]="['/researchers', 'detail', res.orcid  ]" class="btn btn-primary">Detalle</a>
          <button style="margin: 1%" type="button" (click)="deleteResearchers(res.orcid)" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
    </table>

    <div class="pagination">
      <button class="btn btn-primary" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }}</span>
      <button class="btn btn-primary" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
    </div>
 </section>

